* {
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}
.container {
    width: 570px;
    height: 570px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}

.other p {
    margin-bottom: 2px;
}

.main button {
    width: 50px;
}

.buttons button {
    width: 60px;
}